{% extends 'clinica/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} Flartec | Actualizar Consulta {% endblock %}</title>
</head>
<body>
        {% block content %}
        <h2 align="center">Actualizar Consulta</h2>
        <br>
        <div align="center">
            <form method="post">
                {% csrf_token %}
                                    <label>Fecha: </label>
                    <input type="Text" name="fechaconsulta" readonly="readonly" placeholder={{form.fechaconsulta}}
                    <ul></ul>
                <ul>{{ form.numconsulta }}</ul>
                <ul>Paciente: {{ form.codpaciente }}</ul>
                <ul>Doctor: {{ form.coddoctor }} </ul>
                <ul>Fecha de Consulta: {{ form.fechaconsulta }}</ul>
                <ul>Enfermedad: {{ form.enfermedad }}</ul>
                <ul>Grad. Izquierda: {{ form.gradizq }}</ul>
                <ul>Grad. Derecha: {{ form.gradder }}</ul>
                <h4 align="center">Receta asignada/Comentarios </h4>
                <ul>{{ form.receta }}</ul>
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </form>
        </div>
    {% endblock %}

</body>
</html>