{% extends 'clinica/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}Flartec | Consultas{% endblock %}
</head>
<table>
    {% block content %}
        <br>
        <h2 align="center">Consultas</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-3 search" >
                    <form method="get">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" name="buscar" placeholder="Buscar consulta..." class="form-control">

                                <span class="input-group-list">
                                    <i class="icon icon-search"></i>
                                    <button type="submit" class="btn btn-success">Buscar</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="padding-left: 1%">
            <table class="table table-stripped table-light table-hover" style=" padding-left: 10%;width: 99%;">
        <thead>
        <tr style="text-align: center;">

            <td>#</td>
            <td>Paciente</td>
            <td>Doctor</td>
            <td>Fecha</td>
            <td>Diagnostico</td>
            <td style =" width: 25%;">Acciones</td>
        </tr>
        </thead>
        <tbody>
            {% if consultas %}
            {% for consulta in consultas %}
                <tr>
                    <td>{{ consulta.numconsulta }}</td>
                    <td>{{ consulta.codpaciente.nompaciente}} {{ consulta.codpaciente.apelpaciente }}</td>
                    <td>{{ consulta.coddoctor.nomdoctor }} {{ consulta.coddoctor.apeldoctor }}</td>
                    <td>{{ consulta.fechaconsulta }}</td>
                    <td>{{ consulta.enfermedad }}</td>
                    <td>
                        <a  class="btn btn-primary" href={% url 'actualizarConsulta' consulta.numconsulta %}>Editar</a>
                        <a class="btn btn-info" href={% url 'detalle' consulta.numconsulta %}>Detalles</a>
                        {{ numconsulta.enfermedad}}
                        <!--{% if consulta.enfermedad == "Miopia" %}
                        <a  class="btn btn-primary" href={% url 'miopia' %}>Simular</a>
                        {% else %}
                         {% if consulta.enfermedad == "Astigmatismo" %}
                        <a class="btn btn-primary" href={% url 'astigmatismo' %}>Simular</a>
                        {% else %}
                        <a class="btn btn-primary" href={% url 'simulacion' %}>Simular</a>
                        {% endif %}
                        {% endif %}-->
                        <a class="btn btn-danger" href={% url 'eliminarConsulta' consulta.numconsulta %}>Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <h2>No hay registros de Consultas</h2>
            {% endif %}
        </tbody>
        </tbody>
        </table>
        </div>
    {% endblock %}
</body>
</html>