<!DOCTYPE html>
{% extends 'clinica/base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}Flartec| Eliminar consulta{% endblock %}
</head>
<body>
    {% block content %}
    <div align="center">
        <form method="post">
            {%  csrf_token %}
            <h2 align="center">Eliminar Consulta</h2>
            <h3>¿Desea eliminar la consulta con los siguientes datos?</h3>
            <ul>Codigo Consulta: {{ consulta.numconsulta }}</ul>
            <ul>Paciente: {{ consulta.codpaciente }}</ul>
            <ul>Doctor: {{ consulta.coddoctor }} </ul>
            <ul>Fecha de Consulta: {{ consulta.fechaconsulta }}</ul>
            <ul>Enfermedad: {{ consulta.enfermedad }}</ul>
                <ul>Grad. Izquierda: {{ consulta.gradizq }}</ul>
                <ul>Grad. Derecha: {{ consulta.gradder }}</ul>
            <h4 align="center">Receta asignada/Comentarios </h4>
            {% if consulta.receta == null %}
                <ul>No se asigno ninguna receta en esta consulta </ul>
                {% else %}
                {{ consulta.receta}}
            {% endif %}
            <button class="btn btn-danger" type="submit" >Si, eliminar</button>
            <a class="btn btn-info"  href="{% url 'consulta' %}">Cancelar</a>
        </form>
    </div>
    {% endblock %}
</body>
</html>