{% extends 'clinica/base.html' %}
{% load staticfiles %}
{% block title %}Bienvenido a opticas FLARTEC{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<div class="container-fluid text-center">
	<div class="row">
		<div  class="col-md-12 text-center" style="padding-top: 5%">
			<div class="text-center">
				<div class="container text-center col-md-4 border"  style=" background: #FFF; -webkit-border-radius: 5px 10px;">
					<img style="padding-top: 10%" src="{% static 'images/icon.png' %}"></img>
					<h2>Opticas FLARTEC</h2>
					<form style="padding-top:10%" method="post">
    					<div class="text-left col-md-12">
    						{% csrf_token %}
    						{{ form.as_p }}
    					</div>
    					<div class="container text-center">
    						<button class="btn btn-primary" type="submit">Iniciar Sesión</button>
    					</div>
    					<div class="py-3 text-center" style="display: inline-flex;">
    						<ul>¿Eres un paciente?</ul><a href="{% url 'usuarios'%}"> ¡Entra! </a>
    					</div>
    				</form>
    			</div>
			</div>
	</div>
</div>
</div>
{% endblock %}