{% extends 'clinica/base.html' %}
{% load staticfiles %}
{% block title %}Flartec | Acerca de{% endblock %}
    {% block content %}
        <div align="center"><img align="center" src="{% static 'images/logoitca.png' %}" width="60%" height="40%"></div>
        <h3 align="center">Escuela de Computación</h3>
        <div align="center">
            <br>
            <h5>Tema asignado</h5>
			<ul id="info">Clínicas FLARTEC</ul>
			<h5>Grupo Teorico</h5>
			<ul id="info">DS01</ul>
			<h5>Programadores</h5>
			<ul id="info">Leonel Antonio Lopez Valencia - 040119</ul>
			<ul id="info">Roberto Alejandro Armijo Jimenez - 046719</ul>
			<ul id="info"> Sarvia Abigail Fuentes Ramirez - 046319</ul>
			<ul id="info"> Fernando José Cabrera Blanco - 114419</ul>
			<h5>Catedrático</h5>
			<ul id="info">Ing. Piche</ul>
        </div>
		</div>
			<div class="clear"></div>
		</div>
    {% endblock %}
